<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
</head>
<body>
    <div id="aplicacion">
        <p>Ingrese clave: <input type="password" v-model="clave1"></p>
        <p>Repita clave: <input type="password" v-model="clave2"></p>
        <p v-if="clave1 == clave2">Las claves son iguales.</p>
        <p v-else>Las claves son distintas.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el:'#aplicacion',
            data:{
                clave1:'',
                clave2:''
            }
        });
    </script>
</body>
</html>