<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
</head>
<body>

    <div id="aplicacion">
        <p>
            Ingrese primer valor:
            <input type="number" v-model="valor1">
        </p>
        <p>
            Ingrese segundo valor:
            <input type="number" v-model="valor2">
        </p>
        <p>
            <input type="radio" v-model="operacion" value="suma"> Sumar
        </p>
        <p>
            <input type="radio" v-model="operacion" value="resta"> Resta
        </p>
        <p>
            <button v-on:click="operar">Operar</button>
        </p>
        <p>El resultado es: {{resultado}}</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
                valor1: '',
                valor2: '',
                operacion: 'suma',
                resultado: ''
            },
            methods: {
                operar: function(){
                    if (this.operacion === 'suma')
                        this.resultado = parseInt(this.valor1) + parseInt(this.valor2);
                    
                    if (this.operacion === 'resta')
                        this.resultado = parseInt(this.valor1) - parseInt(this.valor2);
                }
            }
        });
    </script>
</body>
</html>