<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
</head>
<body>

    <div id="aplicacion">
        <p>
            <input type="checkbox" v-model="terminos">
            Acepto los términos y condiciones
        </p>
        <button v-if="terminos">Confirmar</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el:'#aplicacion',
            data:{
                terminos: false
            }
        });
    </script>
    
</body>
</html>