<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
</head>
<body>
    
    <div id="aplicacion">
        <form v-on:submit.prevent="rangoValores">
            <p>
                Ingrese el número menor: <input type="number" v-model="valor1">
            </p>
            <p>
                Ingrese el número mayor: <input type="number" v-model="valor2">
            </p>
            <p>
                <button type="submit">Generar lista</button>
            </p>
            <p>Lista de valores: {{lista}}</p>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#aplicacion',
            data:{
                valor1: '',
                valor2: '',
                lista: ''
            },
            methods:{
                rangoValores: function(){
                    var cadena = '';
                    for(var f = this.valor1; f <= this.valor2; f++){
                        cadena += f + '-';
                    }
                    this.lista = cadena;
                }
            }
        });
    </script>

</body>
</html>